*{
    margin: 0;
    padding: 0;
    outline:none;
    border: none;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    scroll-behavior: smooth;
}
::selection{
    color: #fff;
    background:rgba(255, 192, 203, 0.802);
    font-weight: 500;
}
body{
    background-color: #e0e0e0;
}
.page{
    width: 100vw;
}
.main{
    background-color: rgb(125, 193, 170);
    height: max-content;
    display: flex;
    justify-content: space-evenly;
    padding: .5vw 1vw;
    align-items: center;
    transition: all 1.3s;
}
.main h1 a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size:2.1vw;
}
.main>h1:nth-child(1) a{
    font-size: 3vw;
    font-weight: 800;
}
.main h1{
    transition: all 1.3s;
}
.main:hover{
    transform: skewX(45deg) scaleX(.9);
    border-radius: 2vw;
}
.main:hover h1{
    transform: skewX(-45deg) scale(1.1);
}
.main-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.main-logo img{
    transition: all .7s;
    width: 15vw;
    height: auto;
}
.img-scroller{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.img-scroller>img{
    background-color: #fff;
    background-size: cover;
    margin: 1vw;
    width: 50vw;
    height: 65vh;
    border-radius: 1vw;
    transition: all .7s;
}
.img-scroller img:hover{
   transform: scale(1.03,1.03);
}
.btn>button{
    color:rgb(113, 190, 163);
    font-weight: 600;
    padding: .4vw;
    background-color: #fff8f8;
    border: 2px solid  rgb(113, 190, 163);
    border-radius: .7vw;
    transition: all 1s;
    width: 5vw;
    margin:1vw;
    transform-style: preserve-3d;
    font-size: 1.3vw;
    text-transform: capitalize;
}
.btn button:hover{
    background-color: rgb(113, 190, 163);
    border:none;
    color: #fff;
}
.img-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 20vw;
    height: 65vh;
    background-color:transparent;
    right: 2vw;
    overflow: auto;
    border-radius: .1vw;
}
.img-list>img{
   width: 80%;
   height: 20vh;
   margin: .2vw;
   transform: scale(.7,.7);
   transition: all .7s;
   border-radius: 1vw;
}
.data-block{
display: flex;
flex-direction: column;
align-items: center;
 text-align: center;
 background-color: #efefef;
 width: 100vw;
 padding: 1vw; 
}
.data-block span{
    text-transform: capitalize;
    font-size: 2vw;
    opacity: .6;
    font-weight: 800;
}
.data-block td{
    font-weight: 600;
    font-size: 1.3VW;
    color: rgb(33, 33, 33);
}
.data-block table,.data-block td{
    border: 1px solid rgb(189, 189, 189);
    opacity: .9;
}
.data-block table{
    border-radius: .5vw;
    margin-top: 1vw;
    border: 5px solid gray;
    box-shadow: 1px 2px 10px 2.5px grey;
}
.data-block table a{
    text-decoration: none;
    color: rgb(65, 136, 218);
}
.quote{
    text-align: center;
}
.quote span{
    color: grey;
    text-transform: capitalize;
    font-size: 4.5vw;
    opacity: .5;
    font-weight: 800;
}
.type{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    text-transform: uppercase;
    color: rgba(0, 0, 255, 0.524);
    opacity: .7;
}
.books-list{
    display: flex;
    flex-direction: row;
    width: 100vw;
}
.book{
    margin: 1vw;
    transform-style: preserve-3d;
    transition: all .7s;
}
.book-cover:hover .book{
    transform: rotateY(180deg);

}
.book,.book-front,.book-back{
    width: 15vw;
    height: 30vh;
    border-radius: 1vw;
}
.book-front{
    background-color: #fff;
    backface-visibility: hidden;
}
.book-back,.book-front{
    position: absolute;
}
.book-back{
    background-color: aqua;
}
